body{
  background: pink;
}
.title{
  max-width: 600px;
  text-align: center;
}
.navbar{
  background:#e2687d;
  color: wheat;
  display: flex;
  justify-content:space-around; 
  border: 1px white solid;
  border-radius: 20px;
 width: 500px;
}
.bgphoto{
  padding-top: 15px;
  max-width: 600px;
}
.comimg{
  background: pink;
  justify-content: space-around;
}